.cardApresentacao{
  width: 95vw;
  height: auto;
  background-color: var(--secundary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 3rem 1rem;
  text-align: center;
  gap: 12px;
  margin-top: 1vh;
  font-family: var(--font-be-vietnam-pro);
}
.cardApresentacao h2{
  font-family: var(--font-quicksand);
  font-size: 1.6rem;
}
.secao{
  display: flex;
  flex-direction: row;
  margin: 2vh 0 1vh 0;
  width: 90vw;
  gap: 12px;
  align-items: center;
  color: var(--primary-color);
  font-family: var(--font-quicksand);
  font-size: 1rem;
}
.icone{
  transform: scale(2);
  color: var(--primary-color);
}