# Substitua com os dados do banco de dados
DATABASE_URL=''
# id da conta cloudflare
CLOUDFLARE_ACCOUNT_ID=''
# chave de acesso
R2_ACCESS_KEY_ID=''
# chave secreta
R2_SECRET_ACCESS_KEY=''
# nome do bucket
R2_BUCKET_NAME=''
