# Substitua com os dados do banco de dados
DATABASE_URL=''
# segredo aleatório com no mínimo 32 caracteres para assinar o cookie de sessão
JWT_SECRET=''
# id da conta cloudflare
CLOUDFLARE_ACCOUNT_ID=''
# chave de acesso
R2_ACCESS_KEY_ID=''
# chave secreta
R2_SECRET_ACCESS_KEY=''
# nome do bucket
R2_BUCKET_NAME=''
# nome do endereço base da imagem, sem https, somente o endereço, exemplo: estrela.com
R2_PUBLIC_URL=''
