.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: min(100vw, 480px);
    transform: translateX(-50%);
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 10vw;
    background: color-mix(in srgb, var(--foreground) 12%, transparent);
    backdrop-filter: blur(5px);
}
