.navBar{
    position: fixed;
    width: min(90vw, 432px);
    display: flex;
    flex-direction: row;
    bottom: 2vh;
    left: 50%;
    right: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40vh;
    transform: translateX(-50%);
    background-color: var(--neutral-color);
    box-shadow: 0 0 10px -2px black;
    border-radius: 16px;
    height: 9vh;
    z-index: 4;
    padding: 0.25rem 1rem;
    justify-content: space-evenly;
}
.button{
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    border-radius: 16px;
    border: 1px solid transparent;
    gap: 12px;
    font-family: var(--font-be-vietnam-pro);
}
.icon{
    transform: scale(2.5);
}
.selected{
    background-color: color-mix(in hsl shorter hue, var(--secundary-color) 40%, transparent 60%);
    color: var(--primary-color);
}
